/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*  CSS VARIABLES */
/*  CSS VARIABLES */
:root {
  --color-first: #669135;
  --color-second: #1a250e;
  --color-third: #e6f1da;
  --color-fourth: #f3f8ec;
  --color-white: #fff;
  /* Font Size */
  --text-large: 50px;
  --text-medium: 40px;
  --text-small: 15px;
  --text-regular: 13px;
  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  /* Box Shadow */
  --box-shadow-main: 0px 15px 30px rgba(26, 37, 14, 0.1);
  /* Border radius */
  --border-radius: 5px;
  /* transition */
  --animate: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--text-regular);
  font-weight: 300;
  color: var(--color-second);
  line-height: 159.1%;
}
h1,
h2 {
  color: var(--color-second);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  text-transform: capitalize;
}
h1 {
  font-size: var(--text-large);
  margin-bottom: 25px;
}
h2 {
  font-size: var(--text-medium);
  margin-bottom: 25px;
}
h3 {
  color: var(--color-first);
  font-size: var(--text-small);
  font-weight: var(--font-weight-regular);
  margin-bottom: 13px;
}
img {
  border: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
input:focus {
  outline: none;
}
.img-fluid {
  width: 100%;
}
/* Classes */
main {
  overflow-x: hidden;
}
.ptb-100 {
  padding: 100px 0;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 12px 30px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-first);
  color: var(--color-white);
  border-radius: var(--border-radius);
  letter-spacing: 1.1px;
  box-shadow: 0px 15px 40px rgba(102, 145, 53, 0.4);
  transition: var(--animate);
  text-align: center;
  text-transform: capitalize;
  border: 1px solid var(--color-first);
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--color-first);
  box-shadow: none;
}
/* section title */
.title-section {
  width: 100%;
  text-align: center;
}
.title-section p {
  width: 50%;
  margin: 0 auto;
}
/* header */
header {
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--color-white);
  transition: var(--animate);
}
header.fixed {
  height: 70px;
  box-shadow: var(--box-shadow-main);
}
nav {
  height: 83px;
  width: 100%;
  padding: 20px 0;
  transition: var(--animate);
}
.nav-bar ul li {
  position: relative;
  display: inline-block;
  margin: 0 25px;
}
.nav-bar ul li:last-child {
  margin-right: 0px;
}
.nav-bar ul li a {
  position: relative;
  font-size: var(--text-regular);
  color: var(--color-second);
  font-weight: var(--font-weight-regular);
  text-transform: capitalize;
  transition: var(--animate);
}
.nav-bar ul li a:hover,
.nav-bar ul li.active {
  color: var(--color-first);
}
.nav-bar ul li a.btn {
  color: var(--color-white);
}
.nav-bar ul li a.btn:hover {
  color: var(--color-first);
}
.nav-bar ul li.active a:before {
  content: '';
  position: absolute;
  color: var(--color-first);
  top: auto;
  left: 0;
  bottom: -5px;
  margin: auto;
  width: 15px;
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--color-first);
}
/* Toggle bar */
.burger {
  width: 25px;
  cursor: pointer;
  display: none;
}
.burger img {
  width: 100%;
}
.toggle-open.open {
  display: none;
}
.toggle-close {
  display: none;
}
.toggle-close.close {
  display: block;
}
@media (min-width: 991px) {
  .nav-bar {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  .nav-bar {
    display: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: var(--color-second);
    padding: 20px 0;
    z-index: 2;
  }
  .nav-bar ul li {
    display: block;
    margin: 15px;
  }
  .nav-bar ul li a {
    color: var(--color-third);
  }
  .nav-bar ul li.active::after {
    right: 0;
  }
}

/* home section */
.home {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding-top: 90px;
  background-color: var(--color-fourth);
}
.home-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100vh;
  object-fit: cover;
}
.offer-title {
  margin-bottom: 13px;
}
.offer-title span {
  color: var(--color-first);
  font-size: var(--text-small);
  font-weight: var(--font-weight-regular);
}
.col p {
  width: 81%;
  margin-bottom: 50px;
}
.home-wrapper .col {
  width: 45%;
}

/* brand sections*/
.brand img {
  margin: 0 34px;
}
.brand-wrapper {
  flex-wrap: wrap;
}
.brand img:last-child {
  margin: 0;
}

/* product sections*/
.product-wrapper {
  width: 100%;
  margin-top: 80px;
  flex-wrap: wrap;
}

.product-item {
  flex: 0 0 30%;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-main);
  margin: 0 31px 31px 0;
}
.product-item img {
  border-radius: 5px 5px 0 0;
}
.product-item .product-content {
  width: 100%;
  padding: 30px 30px;
}

.product-content h3 {
  font-size: 18px;
  color: rgba(26, 37, 14, 0.7);
  margin: 0;
}
.product-content h3 span {
  color: var(--color-first);
}
/* about sections*/
.aboutus-content {
  width: 45%;
  padding-left: 60px;
}
.aboutus-content p {
  margin-bottom: 15px;
}
.aboutus-content a.btn {
  margin-top: 50px;
}
/* newsletter sections*/
.newsletter-wrapper {
  width: 42%;
  margin: 50px auto 0;
  flex-wrap: wrap;
}
.newsletter-wrapper input {
  width: 330px;
  background-color: var(--color-third);
  height: 50px;
  border-radius: var(--border-radius);
  padding: 0 25px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-first);
  border: 0px;
}

/* footer sections*/
footer {
  background-color: var(--color-second);
  text-align: center;
}
footer ul {
  margin-top: 50px;
}
footer ul li {
  display: inline-block;
  margin-right: 30px;
}
footer ul li a {
  color: var(--color-fourth);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  transition: var(--animate);
}
.copyright {
  width: 100%;
  margin-top: 70px;
  padding: 25px 0;
  border-top: 1px solid #344a1c;
}

.copyright h4 {
  text-align: center;
  color: var(--color-fourth);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
}

/* scroll Up*/
.scrollup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-first);
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: var(--border-radius);
  position: fixed;
  bottom: -10px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, bottom 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  cursor: pointer;
  box-shadow: var(--box-shadow-main);
}
.scrollup.show {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
